* {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}
.logo{
   width: 150px;
   height: auto;
}
.barra {
   display: flex;
   border-bottom: solid black 1px;
}
.barraNav {
   margin-left: auto;
   align-self: center;
}
.navItem{
   display: inline-block;
}
.navLink {
   background-color: black;
   color: white;
   text-decoration: none;
   font-size: 23px;
}
.animacionZoom {
   transition: transform .2s;
}

.animacionZoom:hover {
   transform: scale(1.2); 
}
main h1 {
   font-size: 50px;
   text-align: center;
}
.mainFoto {
   width: 43%;
   height: auto;
   display: block;
   padding-left: 25%;
}
#descripcion {
font-weight: bold;
padding-left: 40%;
font-size: 18px;
}
.imgJoya{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}
.contenedorImg{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.descpImg{
   font-size: 20px;
   font-weight: bold;
}
.joyaUno{
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%;
   grid-area: 1 / 1 / 2 / 2;
}
.joyaDos{
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%;
   grid-area: 1 / 2 / 2 / 3;
}
.joyaTres { 
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%;
   grid-area: 1 / 3 / 2 / 4; 
}
.joyaCuatro { 
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%; 
   grid-area: 2 / 1 / 3 / 2;
}
.joyaCinco { 
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%;
   grid-area: 2 / 2 / 3 / 3; 
}
.joyaSeis { 
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%;
   grid-area: 2 / 3 / 3 / 4; 
}
.joyaSiete { 
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%;
   grid-area: 3 / 1 / 4 / 2; 
}
.joyaOcho { 
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%;
   grid-area: 3 / 2 / 4 / 3; 
}
.joyaNueve { 
   width: 50%;
   height: auto;
   padding-top: 10%;
   padding-left: 5%;
   grid-area: 3 / 3 / 4 / 4; 
}

#preguntas {
   text-align: center;
   margin: 10px;
   border: 1px solid red;
}
footer {
   display: grid;
   grid-template-areas:
   "fooleft consultas preguntasFrecuentes";
   grid-template-columns: 33% 33% 33%;
   border-top: solid black 1px;
   text-align: center;
   padding: 20px;
   position: relative;
   top: 150px;
}
footer p{
   display: inline;
   padding: 25%;
}
footer p:hover{
   height: 200px;
}
.igLogo {
   width: 50px;
   height: auto;
}
.fooLeft{
   grid-area: fooleft;
}
.fooMid{
   grid-area: consultas;
}
.fooRight{
  grid-area: preguntasFrecuentes;
}
/* MEDIA QUERIE */

@media only screen and (max-width:768px)  {
   .barra {
      flex-direction: column;
      align-items: center;
   }
   .barraNav {
      margin: auto;
   }
   .navUl {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .navItem {
      padding: 5px;
   }
   .navLink {
      font-size: 15px;
   }
   main h1{
      font-size: 25px;
   }
   .imgJoya{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around
      
   }
}