.logo {
  width: 150px;
  height: auto; }

.barra {
  display: flex;
  border-bottom: solid black 1px; }

.barraNav {
  margin-left: auto;
  align-self: center; }

.navItem {
  display: inline-block; }

.navLink {
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 23px; }

.mainH1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  border: 1px solid black; }

.mainH2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold; }

.mainH3 {
  font-size: 50px;
  text-align: center; }

.mainH5 {
  font-size: 25px; }

.carrouselHeight {
  padding-top: 1%;
  height: calc(100vh - 80px);
  object-fit: cover; }

.secIndex {
  font-size: 20px; }

ol li {
  padding-top: 1%; }

.imgMedidas {
  width: 45%;
  margin-left: 25%; }

.boton {
  font-size: 30px;
  border: 1px solid white;
  background-color: black;
  color: white; }

.accordion-button {
  font-weight: bold; }

.imgJoya {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.contenedorImg {
  display: flex;
  flex-direction: column;
  align-items: center; }

.descpImg {
  font-size: 20px;
  font-weight: bold; }

.headJoya {
  background-color: black;
  margin-top: 10%;
  font-size: 30px;
  color: white; }

.joyaUno {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.25; }

.joyaDos {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.08333; }

.joyaTres {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.04167; }

.joyaCuatro {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.33333; }

.joyaCinco {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.11111; }

.joyaSeis {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.05556; }

.joyaSiete {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.375; }

.joyaOcho {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.125; }

.joyaNueve {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 3%;
  grid-area: 0.0625; }

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "section-a p-a" "p-b section-b" "section-c p-c" "p-d section-d";
  row-gap: 1%;
  width: 100%;
  height: 100%; }

.section-a,
.section-b,
.section-c,
.section-d,
.p-a,
.p-b,
.p-c,
.p-d {
  background-color: lightgrey;
  border: 1px solid black; }

.section-a {
  display: flex;
  flex-direction: row;
  grid-area: section-a;
  background-image: url(../assets/img/custo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.p-a {
  grid-area: p-a; }

.section-b {
  display: flex;
  flex-direction: row;
  grid-area: section-b;
  background-image: url(../assets/img/custo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.p-b {
  grid-area: p-b; }

.section-c {
  display: flex;
  flex-direction: row;
  grid-area: section-c;
  background-image: url(../assets/img/custo3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.p-c {
  grid-area: p-c; }

.section-d {
  display: flex;
  flex-direction: row;
  grid-area: section-d;
  background-image: url(../assets/img/custo4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.p-d {
  grid-area: p-d; }

ul {
  list-style-type: none; }

div li p {
  padding-top: 3%;
  font-size: 30px;
  text-align: center; }

.boton1 {
  font-size: 30px;
  border: 1px solid white;
  background-color: black;
  color: white; }

.boton2 {
  background-color: black;
  border: white; }

.botonForm {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden; }

.botonForm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms; }

button:hover {
  color: #e8e8e8; }

button:hover::before {
  width: 100%; }

footer {
  background-color: lightgrey;
  border-top: 2px solid black; }
  footer h6 {
    font-weight: bold;
    font-size: 20px; }
  footer a {
    color: black; }

@media only screen and (max-width: 768px) {
  .barra {
    flex-direction: column;
    align-items: center; }
  .barraNav {
    margin: auto; }
  .navUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .navItem {
    padding: 5px; }
  .navLink {
    font-size: 15px; }
  .mainH1 {
    font-size: 25px; }
  .imgJoya {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 310px 250px 310px 250px 310px 250px 310px 250px;
    row-gap: 0;
    grid-template-areas: "section-a" "p-a" "section-b" "p-b" "section-c" "p-c" "section-d" "p-d";
    width: 100%;
    height: 100%; }
  .p-a,
  .p-b,
  .p-c,
  .p-d {
    font-size: 10px; }
  div li p {
    padding-top: 0%;
    font-size: 10px;
    text-align: justify; }
  .boton1 {
    width: 50%;
    font-size: 17px;
    background-color: black;
    color: white;
    margin-left: 20%; }
  .boton2 {
    width: 100%;
    font-size: 17px;
    background-color: black;
    color: white;
    border: 1px solid black; }
  .mainH3 {
    font-size: 20px; }
  .mainH5 {
    font-size: 10px; }
  .secIndex {
    font-size: 15px; }
  .imgDiametro {
    width: 30%; }
  .imgMedidas {
    width: 75%;
    margin-left: 10%; }
  .boton {
    width: 50%;
    font-size: 17px;
    background-color: black;
    color: white;
    margin-left: 25%; }
  footer {
    border: 1px solid black; }
  .carrouselHeight {
    height: 300px; } }

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  footer a {
    font-size: 15px; } }
