.logo {
  width: 150px;
  height: auto; }

.barra {
  display: flex;
  border-bottom: solid black 1px; }

.barraNav {
  margin-left: auto;
  align-self: center; }

.navItem {
  display: inline-block; }

.navLink {
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 23px; }

@media only screen and (max-width: 768px) {
  .barra {
    flex-direction: column;
    align-items: center; }
  .barraNav {
    margin: auto; }
  .navUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .navItem {
    padding: 5px; }
  .navLink {
    font-size: 15px; } }

.mainH1 {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  border: 1px solid black; }

.mainH2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold; }

.divPreguntas {
  padding-top: 1%; }

@media only screen and (max-width: 768px) {
  .mainH1 {
    font-size: 25px; } }

.imgJoya {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.contenedorImg {
  display: flex;
  flex-direction: column;
  align-items: center; }

.descpImg {
  font-size: 20px;
  font-weight: bold; }

.headJoya {
  background-color: black;
  margin-top: 10%;
  font-size: 30px;
  color: white; }

.aCusto {
  display: flex;
  margin-top: 5%;
  padding-right: 1%;
  font-size: 30px;
  color: white;
  background-color: black; }

@media only screen and (max-width: 768px) {
  .imgJoya {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; } }

.joyaUno {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.25; }

.joyaDos {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.08333; }

.joyaTres {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.04167; }

.joyaCuatro {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.33333; }

.joyaCinco {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.11111; }

.joyaSeis {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.05556; }

.joyaSiete {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.375; }

.joyaOcho {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.125; }

.joyaNueve {
  width: 50%;
  height: auto;
  padding-top: 10%;
  padding-left: 5%;
  grid-area: 0.0625; }

button {
  position: relative;
  padding: 19px 36px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
  border: none; }

button span {
  position: relative;
  color: #fff;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1; }

button .liquid, button .liquid-reset {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: .5s; }

button .liquid::after, button .liquid-reset::after,
button .liquid::before,
button .liquid-reset::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff; }


button .liquid::before,
button .liquid-reset::before {
  border-radius: 45%;
  background: #141414;
  animation: animate 5s linear infinite; }

button .liquid::after, button .liquid-reset::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite; }

button:hover .liquid, button:hover .liquid-reset {
  top: -120px; }

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg); }
  100% {
    transform: translate(-50%, -75%) rotate(360deg); } }

button .liquid-reset {
  background: red; }

button .liquid-reset::after,
button .liquid-reset::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 10%;
  transform: translate(-50%, -75%);
  background: #fff; }

button .liquid-reset::before {
  border-radius: 45%;
  background: #141414;
  animation: animate 5s linear infinite; }

button .liquid-reset::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite; }

button:hover .liquid-reset {
  top: -120px; }

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg); }
  100% {
    transform: translate(-50%, -75%) rotate(360deg); } }

footer {
  background-color: lightgrey;
  border-top: 2px solid black; }
  footer h6 {
    font-weight: bold;
    font-size: 20px; }

@media only screen and (max-width: 768px) {
  footer {
    border: 1px solid black; } }
