.logo{
        width: 150px;
        height: auto;
}
.barra {
        display: flex;
        border-bottom: solid black 1px;
}
.barraNav {
        margin-left: auto;
        align-self: center;
}
.navItem {
        display: inline-block;
}
.navLink {
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 23px;
}
