.mainH1 {
      font-size: map-get($estilos,fuente );
      text-align: map-get($estilos,centro );
      font-weight: map-get($estilos,negrita );
      border: map-get($estilos,borde);
  }
  .mainH2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  .divPreguntas {
    padding-top: 1%;
  } 
  
  @media only screen and (max-width: 768px){
    .mainH1 {
        font-size: 25px;
      }
  }
  