@mixin posicionJoya($gridarea) {
    grid-area: $gridarea;
}

@mixin tamañoJoya {
    width: 50%;
    height: auto;
    padding-top: 10%;
    padding-left: 5%;
}

.joyaUno{
    @include tamañoJoya();
    @include posicionJoya(1/1/2 / 2);
}
.joyaDos{
    @include tamañoJoya();
    @include posicionJoya(1 / 2 / 2 / 3);
}
.joyaTres{
    @include tamañoJoya();
    @include posicionJoya(1 / 3 / 2 / 4);
}
.joyaCuatro{
    @include tamañoJoya();
    @include posicionJoya(2 / 1 / 3 / 2);
}
.joyaCinco{
    @include tamañoJoya();
    @include posicionJoya(2 / 2 / 3 / 3);
}
.joyaSeis{
    @include tamañoJoya();
    @include posicionJoya(2 / 3 / 3 / 4);
}

.joyaSiete{
    @include tamañoJoya();
    @include posicionJoya(3 / 1 / 4 / 2);
}
.joyaOcho{
    @include tamañoJoya();
    @include posicionJoya(3 / 2 / 4 / 3);
}
.joyaNueve{
    @include tamañoJoya();
    @include posicionJoya(3 / 3 / 4 / 4);
}
