<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shorcut icon" href="../assets/img/logo.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <title>ALOJAMORA</title>
</head>
<body>
    <header class="barra">
        <!-- logo+nav -->
        <div class="barraLogo">
            <a href="../index.html"><img src="../assets/img/logo.jpeg" alt="logo" class="logo"></a>
        </div>
        <div class="barraNav">
        <nav>
            <ul class="navUl">
                <li class="navItem"><a class="navLink" href="../index.html">Inicio</a></li>
                <li class="navItem"><a class="navLink" href="joyas.html">Joyas</a></li>
                <li class="navItem"><a class="navLink" href="customized.html">Customized</a></li>
                <li class="navItem"><a class="navLink" href="nosotros.html">Nosotros</a></li>
                <li class="navItem"><a class="navLink" href="contacto.html">Contacto</a></li>
            </ul>
            </nav>
        </div>
        <!-- fin de la nav -->
    </header>
    <main>
         <!-- encabezado de preguntas  --> 
        <h1 id="preguntas">Preguntas Frecuentes</h1>
        <div class="row">
        <div class="col-lg-12 col-12">
            <h4>¿Donde realizan envios?</h4>
            <p>Los envios se realizan sin cargo hacia todo el pais.</p>
        </div>
        <div class="col-lg-12 col-12">
            <h4>Tiempos de entrega</h4>
            <p>Nuestra promesa de entrega es de 7 a 10 días hábiles para todos los destinos, excepto en la Ciudad Autónoma de Buenos Aires en la cual el plazo de entrega es de 24 a 48hs hábiles.</p>
        </div>
        <div class="col-lg-12 col-12">
            <h4>No recibí mi pedido ¿Qué puedo hacer?</h4>
            <p>Si no recibiste tu pedido te podes comunicar a traves de nuestro instagram "alojamora"</p>
        </div>
        <div class="col-lg-12 col-12">
            <h4>¿Puedo cambiar mi dirección de entrega luego de realizar mi pedido?</h4>
            <p>No se permiten cambios de dirección luego de haber efectuado la carga de los datos del formulario de envío.</p>
        </div>
        <div class="col-lg-12 col-12">
            <h4>¿Qué debo tener en cuenta al momento de recibir mi pedido?</h4>
            <p>Debes revisar muy bien los empaques y verificar que estén en perfecto estado en compañía del transportador antes de firmar la guía. En caso de evidenciar una avería en el empaque no reciba el producto ni firme la guía, si firmas sin revisar perderás el derecho de reclamación.</p>
        </div>
        </div>
    </main>
    <footer>
        <!-- inicio del footer -->   
            <p class="fooLeft"><a href="https://www.instagram.com/joyaselaboradasamano/" target="_blank"><img src="../assets/img/instagram.png" alt="logo instagram" class="igLogo"></a></p>
            <p class="fooMid"><a href="mailto:info@dominio.com">Consultas</a></p>
            <p class="fooRight"><a href="nosotros.html#preguntas">Preguntas Frecuentes</a></p>   
    </footer>
        <!-- fin del footer -->
</body>
</html>